
/* Styling for the performance page*/

  body {
    margin: 0;
    padding: 0;
  }


  .h\(48\), .h\(32\), .h\(24\), .h\(42\), .s\(14\) {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }

  .p\(20\), .p\(16\) {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
  }
  a {
    text-decoration: none;
    color: #343434;
  }

  a:hover {
    color: #00B4F1;
  }

  ul, ol {
    list-style: none;
  }
  .p\(20\) {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
  }

  .p\(16\) {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .h\(48\) {
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 56px;
  }

  .h\(42\) {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 56px;
  }

  .h\(32\) {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 40px;
  }

  .h\(24\) {
    font-size: 24px;
    line-height: 32px
  }

  .s\(14\) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #8E8E8E;
    text-align: center;
  }


  .nav {
    height: 55px;
    width: 100%;
  }
    .nav__item {
      display: none;
    }

    .logo {
    margin: 8px 32px 8px 32px;
    width: 157.14px;
    height: 40px;
    }



  .hero {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    height: 60vh;
    background: #00B4F1;
    justify-content: center;
    padding: 0 0 120px 0;
    margin-bottom: -120px;
  }
    .hero__content {
      color: white;
      text-align: center;
      width: 90%;
      align-self: center;
      margin-bottom: 27px;
      padding-top: 52px;

    }

    .hero__cta {
      align-items: center;
      text-align: center;
    }

      .hero__button {
        font-size: 16px;
        line-height: 24px;
        font-family: 'Muli', sans-serif;
        font-weight: 700;
        border-radius: 200px 200px 200px 200px;
        background: white;
        padding: 16px 24px;
        color: #00b4f1;
      }

      .hero__download {
        margin-top: 32px;
        width: 47%;
      }


    .heroImage {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
    }

      .heroImage__ipad {
        width: 90%;
        align-self: center;
        padding-top: 48px;
      }

  .explainer {
    margin: 20px 22px;
    text-align: center;
  }

  .mediaTitle {
    padding: 26px 0 26px;;
  }

  .mediaGallery {
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 8px;
    border: 1px solid #F3F3F3;
    width: 120px;
  }

  .mediaGallery img {
    flex-grow: 1;
    width: 100%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;


  }




  @media only screen and (min-width: 960px) {

      .logo {
        width: 220px;
        height: 56px;
        margin-top: 12px;
        margin-bottom: 12px;

      }
      .nav {

        height: 80px;
        display: flex;
        flex-direction: row;
        background: white;
      }


        .nav__item {
          font-family: 'Muli', sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin-right: 16px;
        }

      .hero {
        display: flex;
        display: -webkit-flex;

      }
      .hero__content {
        font-size: 48px;
        line-height: 56px;
        align-self: center;
        flex-wrap: wrap;
      }

      .hero__download {
        width: 15%;
        justify-content: space-around;
      }




  }
